.container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 65px;
    justify-content: space-between;
}

.container__header {
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}

.title {
    font-family: 'Comfortaa';
    font-weight: 700;
    font-size: 26px;
    line-height: 29px;
}

.dynamic {
    width: 580px;
    background: var(--header);
    border-radius: 10px;
    padding: 20px;
    max-height: 330px;
    margin-top: 50px;
}

.dynamic__header {
    display: flex;
    align-items: center;
}

.dynamic__title {
    font-family: 'Nunito';
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    margin-right: 20px;
}

.dynamic__year {
    font-family: 'Nunito';
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: var(--text);
}

.dynamic__select {
    margin-left: auto;
    background-color: transparent;
    border: none;
    outline: transparent;
    color: var(--text);
}

.dynamic__select option {
    background-color: var(--header);
}

.button {
    padding: 12px 30px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
}

.history {
    max-width: 580px;
}

.history__title {
    font-family: 'Comfortaa';
    font-weight: 700;
    font-size: 26px;
    line-height: 29px;
    margin-bottom: 20px;
}

.preloader__container {
    display: flex;
    width: 100%;
    height: 90vh;
    justify-content: center;
    align-items: center;
}

.transaction {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 40px;
}

.transaction__title {
    margin-bottom: 40px;
}

.transaction__form {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.transaction__input-wrap {
    width: 380px;
    display: flex;
    flex-direction: column;
}

.transaction__label {
    font-family: 'Nunito';
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: var(--text);
    padding-left: 15px;
    margin-bottom: 2px;
}

.transaction__input {
    padding: 20px;
    border: 2px solid var(--pink);
    border-radius: 10px;
    min-height: 70px;
}

.button {
    padding: 22.5px 143px;
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
}

@media (max-width: 768px) {
    .container__header {
        flex-direction: column-reverse;
        margin-bottom: 30px;
        gap: 15px;
    }
    .title {
        font-size: 14px;
    }
    .button {
        padding: 15px 30px;
        font-size: 16px;
    }
    .dynamic {
        margin-top: 0;
        margin-bottom: 30px;
    }
    .history {
        max-width: 100%;
        margin-bottom: 30px;
    }
    .history__title {
        font-size: 20px;
        text-align: center;
    }
    .transaction {
        margin-top: 0;
    }
    .transaction__title {
        text-align: center;
        font-size: 20px;
        margin-bottom: 20px;
    }
    .transaction__form {
        flex-direction: column;
        gap: 15px;
    }
    .transaction__input-wrap {
        max-width: 100%;
    }
    .button {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}
