.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 50px;
    width: 1240px;
}

@media (max-width: 768px) {
    .logo {
        max-width: 100px;
    }
    .copy {
        font-size: 14px;
    }
    .footer {
        bottom: 20px;
        width: 90%;
    }
}
