.card {
    display: flex;
    flex-direction: column;
    background: var(--header);
    border: 2px solid var(--pink);
    border-radius: 10px;
    padding: 15px 20px;
    flex-basis: 380px;
}

.id {
    font-family: 'Nunito';
    font-style: normal;
    font-size: 15px;
    line-height: 20px;
    color: var(--text);
    margin-bottom: 15px;
}
.balance {
    font-family: 'Nunito';
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    margin-bottom: 20px;
}

.balance:after {
    content: ' ₽';
}

.info {
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: var(--text);
    font-family: 'Nunito';
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
}
